<content class="contact">
  <h1>Contact Me</h1>
  <% if @feedback.errors.any? %>
    <ul>
      <% @feedback.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

    <%= form_with model: @feedback do |form| %>
    <%= form.text_field :name, placeholder: "Name", required: true, id: "name", class: "form-input" %>

    <%= form.text_field :email, placeholder: "Email", required: true, id: "email", class: "form-input" %>

    <%= form.text_area :message, placeholder: "Message", rows: 4, required: true, id: "message", class: "form-input" %>

    <%= form.submit 'Send Message', class: "btn-submit" %>
  <% end %>
</content>

