<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>

    </style>

  </head>

  <body>
  <nav>
    <ul>
      <li>
        <%= link_to 'HOME', root_path %>
      </li>
      <li>
        <%= link_to 'ABOUT', about_path %>
      </li>
      <li>
        <%= link_to 'CONTACT', new_feedback_path %>
      </li>
      <li>
        <%= link_to 'POSTS', posts_path %>
      </li>
      <li>
        <%= link_to 'FEEDBACKS', feedbacks_path %>
      </li>
    </ul>
  </nav>

  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
  </body>
</html>
